<%- include('./Layout/nav', {title: "Error"}) %> 

<section class="error">
    <div class="contenedor-error">
        <h2>Error</h2>
        <p><%= mensaje %> <a href="/projects">volver a la lista de trabajos</a></p>
    </div>
</section>

<%- include('./Layout/footer') %> 