<%- include('./Layout/nav', {title: "Agregar nuevo trabajo"}) %> 

<section class="error">
    <h2>Ocurrió un error inesperado</h2>
    <p><%- mensaje %> </p>
</section>

<%- include('./Layout/footer') %> 