<%- include('./Layout/nav', {title: "Operación exitosa"}) %> 

<section class="container exito">
    <h2>La operación fue realizada con éxito</h2>
    <p> <%- mensaje %></p> 
</section>

<%- include('./Layout/footer') %> 