        </main>

        <footer>
            <button class="arriba" id="arriba"><i class="bi bi-arrow-up"></i></button>
            <div class="fila">
                <div class="columna logo">
                    <a href="/">L<span>C</span></a>
                </div>
                <div class="columna">
                    <h3>Datos del Alumno</h3>
                    <ul class="datos-alumno">
                        <li>Alumno: Luciano Caruso</li>
                        <li>Materia: Aplicaciones Híbridas</li>
                        <li>Profesor: Brian Lara</li>
                    </ul>
                </div>
                <div class="columna">
                    <h3>Mis Redes Sociales</h3>
                    <div class="redes-sociales">
                        <a href="https://www.linkedin.com/feed/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://twitter.com/home?lang=es" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/btn-subir.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>